footer {
    background-color: var(--footer-color);
    padding: 50px;
    gap: 30px;
}

footer p:first-child {
    color: var(--cta-color);
    font-family: 'Felipa', cursive;
    font-size: 50px;
    font-weight: bold;
}

footer p:last-child {
    font-size: 15px;
    font-weight: 100;
    color: var(--text-color-reverse);
}