header {
    background-image: url("../images/header-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    color: var(--text-color-reverse);
    padding: 0 25%;
}

h1 {
    font-size: 60px;
    font-weight: bold;
    letter-spacing: 4px;
}

header p {
    color: var(--text-color-reverse);
}